body {
  background-image: url("../img/app-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

a {
  color: #cd5a51;
}

.container {
  font-family: "Ubuntu", sans-serif;
}

#appName {
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}

#forecastIcon {
  font-size: 60px;
}

#updated {
  text-align: right;
  font-size: 12px;
  opacity: 0.3;
}

#currentDay {
  text-align: right;
  font-size: 17px;
}

#currentTime {
  text-align: right;
  font-size: 15px;
  font-weight: normal;
}

#currentTemp {
  text-align: center;
  font-size: 55px;
}

#currentCity {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

#weatherDescription {
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
}

#conditions {
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
}

#instructions {
  text-align: center;
}

#searchCity {
  display: block;
  margin: 4 auto;
}

#searchButton,
#currentLocation {
  display: block;
  margin: 0 auto;
}

#tempDegree {
  text-align: center;
}

#forecastDays,
#forecastDaysTemp {
  text-align: center;
  font-size: 12px;
}

#forecastDaysIcons {
  text-align: center;
}

.first-box {
  max-height: 350px;
  margin-top: 20px;
  margin-left: 20px;
}

.second-box {
  max-height: 350px;
  margin-top: 20px;
  margin-right: 20px;
}

.third-box {
  max-height: 310px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.fourth-box {
  max-height: 310px;
  margin-bottom: 20px;
  margin-right: 20px;
}

h6.footer {
  padding-top: 10px;
  text-align: center;
}

.outside {
  margin: 0 auto;
  min-width: 600px;
  max-width: 600px;
}
