@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #edd500;
  opacity: 0.8;
  text-align: center;
}

a {
  color: #cd5a51;
}

.container {
  margin: 50px 0;
  font-family: "Montserrat", sans-serif;
}

#forecastIcon {
  font-size: 35px;
}

#updated {
  text-align: right;
  font-size: 5px;
  opacity: 0.3;
}

#currentDay {
  text-align: right;
  font-size: 10px;
}

#currentTime {
  text-align: right;
  font-size: 10px;
  font-weight: normal;
}

#currentTemp {
  font-size: 30px;
}

#currentCity {
  font-size: 15px;
  font-weight: bold;
}

#weatherDescription {
  font-size: 12px;
  font-weight: normal;
  text-transform: capitalize;
}

#conditions {
  font-weight: lighter;
  font-size: 9px;
}

#instructions {
  font-size: 11px;
}

#searchCity {
  display: block;
  margin: 4 auto;
}

#cityInput {
  text-align: center;
  font-size: 10px;
  padding: 3px;
}

#searchButton,
#currentLocation {
  font-size: 12px;
  display: block;
  margin: 0 auto;
  padding: 3px;
  flex: 1;
}

#forecastDays,
#forecastDaysIconsTemp {
  margin-top: 20px;
}

.dayOne {
  font-size: 14px;
}

ul {
  list-style: none;
}

.tempMax {
  font-weight: bold;
}

.tempMin {
  font-weight: lighter;
}

.first-box {
  min-width: 100px;
  max-height: 300px;
  margin-top: 20px;
  margin-left: 20px;
}

.second-box {
  min-width: 100px;
  max-height: 300px;
  margin-top: 20px;
  margin-right: 20px;
}

.third-box {
  min-width: 100px;
  max-height: 300px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.fourth-box {
  min-width: 100px;
  max-height: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
}

h6.footer {
  font-size: small;
  padding-top: 10px;
}

.outside {
  display: block;
  margin: 0 auto;
  min-width: 400px;
  max-width: 400px;
}
